@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;700&display=swap');

:root {
    font-family: 'Source Sans 3', sans-serif;
    --site-bg: #CAE5FF;
    --chat-bg: #ffffff;
    --chat-message-bg: #669bbc;
    --chat-message-text-color: #ffffff;
    --chat-features-bg: #89BBFE;
    --scrollbar-bg: #f5f5f5;
}